.cart {
    border: 1px solid white;

    /* font-size: 204px; */
    letter-spacing: 2px;
    font-family: cursive;


    /* margin: auto; */
}

.cart:hover {
    background-color: rgb(194, 239, 239);
    border-radius: 50px;
    color: rgb(0, 12, 11);
    cursor: pointer;
    padding: 12px;

}